 # Loading data from different sources

## 1. Loading from CSV

In [1]:
import pandas as pd

In [2]:
# reading data from csv
data = pd.read_csv("../data/georgia-history.csv")
data.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,GA,17906.0,15598.0,1,2308.0,56797.0,56797.0,2008.0,35,...,7359069,18827,482568.0,1484921.0,NaN,NaN,NaN,0,7359069,18827
1,2021-03-06,GA,17905.0,15597.0,90,2308.0,56762.0,56762.0,2071.0,135,...,7340242,24765,481545.0,1478232.0,NaN,NaN,NaN,0,7340242,24765
2,2021-03-05,GA,17815.0,15526.0,65,2289.0,56627.0,56627.0,2099.0,115,...,7315477,35861,480456.0,1463362.0,NaN,NaN,NaN,0,7315477,35861
3,2021-03-04,GA,17750.0,15462.0,125,2288.0,56512.0,56512.0,2191.0,143,...,7279616,28189,479300.0,1451169.0,NaN,NaN,NaN,0,7279616,28189
4,2021-03-03,GA,17625.0,15349.0,145,2276.0,56369.0,56369.0,2299.0,118,...,7251427,16983,478229.0,1437822.0,NaN,NaN,NaN,0,7251427,16983

## 2. Loading from URL

In [3]:
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

# reading data from url
data = pd.read_csv(url)
data.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

## 3. Loading from Microsoft Excel

In [4]:
# reading data from excel. Need to install package openpyxl. Can install using "pip install openpyxl"
data = pd.read_excel("../data/georgia-history.xlsx")
data.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,44262,GA,17906.0,15598.0,1,2308.0,56797.0,56797.0,2008.0,35,...,7359069,18827,482568.0,1484921.0,NaN,NaN,NaN,0,7359069,18827
1,44261,GA,17905.0,15597.0,90,2308.0,56762.0,56762.0,2071.0,135,...,7340242,24765,481545.0,1478232.0,NaN,NaN,NaN,0,7340242,24765
2,44260,GA,17815.0,15526.0,65,2289.0,56627.0,56627.0,2099.0,115,...,7315477,35861,480456.0,1463362.0,NaN,NaN,NaN,0,7315477,35861
3,44259,GA,17750.0,15462.0,125,2288.0,56512.0,56512.0,2191.0,143,...,7279616,28189,479300.0,1451169.0,NaN,NaN,NaN,0,7279616,28189
4,44258,GA,17625.0,15349.0,145,2276.0,56369.0,56369.0,2299.0,118,...,7251427,16983,478229.0,1437822.0,NaN,NaN,NaN,0,7251427,16983

## 4. Loading from JSON file

In [5]:
# reading data from json
data = pd.read_json("../data/georgia-history.json")
data.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,GA,17906.0,15598.0,1,2308.0,56797.0,56797.0,2008.0,35,...,7359069,18827,482568.0,1484921.0,,,NaN,0,7359069,18827
1,2021-03-06,GA,17905.0,15597.0,90,2308.0,56762.0,56762.0,2071.0,135,...,7340242,24765,481545.0,1478232.0,,,NaN,0,7340242,24765
2,2021-03-05,GA,17815.0,15526.0,65,2289.0,56627.0,56627.0,2099.0,115,...,7315477,35861,480456.0,1463362.0,,,NaN,0,7315477,35861
3,2021-03-04,GA,17750.0,15462.0,125,2288.0,56512.0,56512.0,2191.0,143,...,7279616,28189,479300.0,1451169.0,,,NaN,0,7279616,28189
4,2021-03-03,GA,17625.0,15349.0,145,2276.0,56369.0,56369.0,2299.0,118,...,7251427,16983,478229.0,1437822.0,,,NaN,0,7251427,16983

## 5. Loading from XML file

In [6]:
# reading data from xml
data = pd.read_xml("../data/georgia-history.xml")
data.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,GA,17906.0,15598.0,1,2308.0,56797.0,56797.0,2008.0,35,...,7359069,18827,482568.0,1484921.0,NaN,NaN,NaN,0,7359069,18827
1,2021-03-06,GA,17905.0,15597.0,90,2308.0,56762.0,56762.0,2071.0,135,...,7340242,24765,481545.0,1478232.0,NaN,NaN,NaN,0,7340242,24765
2,2021-03-05,GA,17815.0,15526.0,65,2289.0,56627.0,56627.0,2099.0,115,...,7315477,35861,480456.0,1463362.0,NaN,NaN,NaN,0,7315477,35861
3,2021-03-04,GA,17750.0,15462.0,125,2288.0,56512.0,56512.0,2191.0,143,...,7279616,28189,479300.0,1451169.0,NaN,NaN,NaN,0,7279616,28189
4,2021-03-03,GA,17625.0,15349.0,145,2276.0,56369.0,56369.0,2299.0,118,...,7251427,16983,478229.0,1437822.0,NaN,NaN,NaN,0,7251427,16983

For more data types reference visit:<br/>
https://pandas.pydata.org/docs/reference/io.html# <br/>
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [7]:
# Example 1. Read the data meminfo.csv from data folder and save it to the pickle format.
# Refer: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_pickle.html#pandas.DataFrame.to_pickle